<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="card" layout:fragment="content">
    <div class="card-header  d-flex">
        <span class="h4 mt-2  me-auto">Novo título</span>
        <a class="btn btn-link text-decoration-none mt-1" href="/titulo">Voltar para lista</a>
    </div>

    <div class="card-body">
        <form method="POST" action="/titulo">

            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${!#strings.isEmpty(mensagem)}">
                <i class="fa-solid fa-circle-check"></i>
                <strong>Sucesso! </strong>
                <span th:text="${mensagem}"/>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 col-md-3  d-flex justify-content-sm-start justify-content-md-end">
                    <label class="col-form-label" for="descricao">Descrição</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="descricao" name="descricao">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 col-md-3  d-flex justify-content-sm-start justify-content-md-end">
                    <label class="col-form-label" for="dataVencimento">Data de vencimento</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="dataVencimento" name="dataVencimento">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 col-md-3   d-flex justify-content-sm-start justify-content-md-end">
                    <label class="col-form-label" for="valor">Valor</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="valor" name="valor">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 col-md-3   d-flex justify-content-sm-start justify-content-md-end">
                    <label class="col-form-label" for="status">Status</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="status" name="status">
                        <option selected disabled value="">Selecione um item...</option>
                        <option th:each="status : ${todosStatusTitulo}" th:value="${status}"
                                th:text="${status.descricao}"/>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-md-3 col-md-9 ">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

</html>