<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<div class="row row-cols-1 row-cols-md-4 g-4  d-flex justify-content-center" layout:fragment="content">
	<div class="col">
		<a class="text-decoration-none" href="/titulo/novo">
			<div class="card text-center">
				<span class="material-icons md-128 blue">add_box</span>
				<div class="card-body">
					<h5 class="card-title" th:text="#{register}"></h5>
				</div>
			</div>
		</a>
	</div>
	<div class="col">
		<a class="text-decoration-none" href="/titulo">
			<div class="card text-center">
				<span class="material-icons md-128 orange">list_alt</span>
				<div class="card-body">
					<h5 class="card-title" th:text="#{list}"></h5>
				</div>
			</div>
		</a>
	</div>
</div>

</html>