<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="card" layout:fragment="content">
    <div class="card-header  d-flex">
        <span class="h4 mt-2  me-auto">Listar títulos</span>
        <a class="btn btn-link text-decoration-none mt-1" href="/titulo/novo">Novo título</a>
    </div>

    <div th:replace="~{fragments/mensagem :: mensagem}"></div>

    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center align-middle col-md-1">#</th>
                <th scope="col" class="text-center align-middle">Decrição</th>
                <th scope="col" class="text-center align-middle col-md-2">Data de vencimento</th>
                <th scope="col" class="text-center align-middle col-md-2">Valor</th>
                <th scope="col" class="text-center align-middle col-md-2">Status</th>
                <th scope="col" class="text-center align-middle col-md-2">Ação</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="titulo : ${todosTitulos}">
                    <td class="text-center" th:text="${titulo.codigo}">1</td>
                    <td th:text="${titulo.descricao}"></td>
                    <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
                    <td class="text-end" th:text="|R$ ${{titulo.valor}}|"></td>
                    <td class="text-center" th:attr="data-role=${titulo.codigo}">
                        <span class="badge" th:text="${titulo.status.descricao}"
                            th:classappend="${titulo.pendente ? 'text-bg-danger' : 'text-bg-success'}">
                        </span>
                    </td>
                    <td class="text-center">
                        <a class="btn" th:href="@{/titulo/{codigo}(codigo=${titulo.codigo})}"
                            rel="tooltip" data-bs-placement="top" data-bs-title="Editar">
                            <i class="fa-regular fa-pen-to-square text-primary"></i>
                        </a>

                        <a class="btn" data-bs-toggle="modal" data-bs-target="#confirmacaoExclusaoModal"
                           rel="tooltip" data-bs-placement="top" data-bs-title="Excluir"
                           th:attr="data-codigo=${titulo.codigo}">
                            <i class="fa-solid fa-xmark text-danger"></i>
                        </a>

                        <a class="btn  js-atualizar-status"
                           th:if="${titulo.pendente}"
                           rel="tooltip" data-bs-placement="top" data-bs-title="Receber"
                           th:attr="data-codigo=${titulo.codigo}"
                           th:href="@{/titulo/{codigo}/receber(codigo=${titulo.codigo})}" >
                            <i class="fa-solid fa-check text-success"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" th:if="${#lists.isEmpty(todosTitulos)}">Nenhum título foi encontrado</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments/modal_confimar_exclusao :: modal}"></div>
</div>

</html>