<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="card" layout:fragment="content">
    <div class="card-header">
        <span class="panel-title">Listar títulos</span>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center col-md-1">#</th>
                <th scope="col">Decrição</th>
                <th scope="col" class="text-center col-md-2">Data de vencimento</th>
                <th scope="col" class="text-end col-md-2">Valor</th>
                <th scope="col" class="text-center col-md-2">Status</th>
                <th scope="col" class="text-center col-md-1">Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="6">Nenhum título foi encontrado</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>